<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ejs</title>
</head>

<body>
  <h2>测试 <%= name %> 的 ejs</h2>
  <p>please enter your search</p>
  <form action="/get" method="GET">
    <input type="text" name='search' />
    <input type="submit" value='search' />
  </form>
</body>

</html>